SERVER_PORT=8000
JWT_SECRET=jEPvnupaVtRRGG5807RPIKOnf6VbNa1sd35yPcWhfOX726nhHORTkc4PLSfcqk+N

DB_HOST= "aws-0-sa-east-1.pooler.supabase.com"
DB_PORT= 6543
DB_USER= "postgres.fmdbezyxzpozkupibykm"
DB_PASSWORD= "r5i9BxqNxRKtP8Ym"
DB_NAME= "postgres"
DB_SSLMODE=require
